<!doctype html>
<html lang="en">
<head>
    <%- include('partial/header') %>
    <style>
        #more {display: none;}
        .buttonGo:hover {
            box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
            background-color: black;
            color: white;
        }

        #portfolio {
            width: auto;
            height: auto; 
            text-align: center;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;            
        }
    </style>
</head>
  
<body>
    <!-- Page Content -->
    <%- include('partial/nav') %>
    <article>
        <div class="container">
            <div class="row" id="portfolio">
                <div class="col-md-12">
                    <h1 class="mt-5">My Portfolio</h1>
                </div>
            </div>
            <br>
            <div class="row">
                <% for(var i = 0; i < projects.length; i++) { %>
                <div class="col">
                    <div class="card" style="width: 20rem;">            
                        <h5 class="card-header"><%= projects[i].header %></h5>
                        <img src="<%= projects[i].img %>" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title"><%= projects[i].title %></h5>
                            <%= projects[i].description %>
                        </div>
                        <div class="card-footer">
                            <a href="<%= projects[i].href %>" target="_blank" rel="nofollow">
                                <input type="button" class="btn btn-primary btn-lg buttonGo" value="View This Project" />
                            </a>
                        </div>
                    </div>
                </div>
                <% } %>
            </div>
        </div>
    </article>
</body>
</html>